html{
    background-color: rgb(178, 159, 187);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    text-align: left;
}

h1 {
    color: #ffffff; 
    font-size: 2.5em;
}

h2 {
    color: #350147; 
    font-size: 2.3em;
}

h3 {
    color: #37085e;
    font-size: 1.5em;
    margin: 15px 0 5px;
    
}

.ejercicio {
    margin: 20px 0;
}

.ejercicio a {
    text-decoration: none;
    color: #240847; 
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ejercicio a:hover {
    background-color: #684d88; 
    color: #333;
}
